button {
  align-items: center;
  background: var(--black);
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
  display: flex;
  gap: 5px;
  justify-content: center;
  padding: 10px 0;
  transition: all var(--transitionTime);
}

button:hover {
  background: var(--teal);
}

.inverted-button {
  background: var(--white);
  color: var(--black);
}

.inverted-button:hover {
  background: var(--yellow);
}

.icon-fb {
  mask: var(--fbSvgPath);
}

.icon-ig {
  mask: var(--igSvgPath);
}

.icon-tw {
  mask: var(--twSvgPath);
}

.icon {
  background: var(--black);
  display: inline-block;
  height: 20px;
  mask-repeat: no-repeat;
  transition: all var(--transitionTime);
  width: 20px;
}

.icon:hover,
.icon:focus {
  background: var(--orange);
}
