body {
  margin: 30px 5%;
  background-image: url('/images/bg-main-mobile.png');
}

.primary-bg-pattern {
  display: none;
}

@media only screen and (min-width: var(--tablet)) {
  body {
    background-image: url('/images/bg-main-tablet.png');
    margin: 60px auto;
    max-width: var(--tablet);
    overflow-x: hidden;
  }

  .primary-bg-pattern {
    display: block;
    max-width: 230px;
    position: absolute;
    right: -5%;
    top: -30px;
  }
}

@media only screen and (min-width: var(--desktop)) {
  body {
    background-image: url('/images/bg-main-desktop.png');
    max-width: var(--desktop);
  }

  .primary-bg-pattern {
    right: 0;
  }
}
