h1 {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: -0.45px;
  line-height: 1.2;
  margin-bottom: 25px;
  width: 80%;
}

h2 {
  color: var(--white);
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.25;
}

p {
  font-size: 1rem;
}

button {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.75;
}

span {
  font-weight: bold;
}

a {
  cursor: pointer;
}

.footer-text {
  font-size: 1rem;
  line-height: 1.6;
}

.price-typography {
  font-size: 4rem;
  line-height: 1;
}

@media only screen and (min-width: var(--tablet)) {
  h1 {
    font-size: 4rem;
    letter-spacing: -0.75px;
    line-height: 1;
    margin-bottom: 30px;
    width: 100%;
  }

  p {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: var(--desktop)) {
  h1 {
    font-size: 5.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.25rem;
  }
}
